<div class="dynamic_bg row" >
<div class="card p-4 m-4 bg-light text-dark col-md-4" style="width: 22em;">
  <h4 class="mb-4">Sample Profiles to Use</h4>
  <div class="mb-4">
  I'm a big foodie and love exploring new restaurants and cuisines. I'm also an avid traveler and enjoy experiencing new cultures. In my free time, you can usually find me reading a good book or watching a movie.
  </div>
  <div class="mb-4">
    I'm a fitness enthusiast and love staying active. When I'm not working out, I enjoy spending time outdoors, hiking or playing basketball. I'm also a big music lover and enjoy going to concerts and festivals.
  </div>
  <div class="mb-4">
    I work in tech and love keeping up with the latest trends and innovations. I'm also a big foodie and enjoy trying out new restaurants and bars. In my free time, I like to stay active and play sports like tennis or soccer.
  </div>
  <div class="mb-4">
    I'm a beach lover and enjoy spending my weekends soaking up the sun and swimming in the ocean. I also enjoy yoga and meditation and prioritize self-care in my daily routine. I'm looking for someone who is kind, adventurous, and values personal growth.
  </div>
  <div class="mb-4">
    I'm a freelance writer and content creator, always on the lookout for new and exciting projects to work on. When I'm not typing away at my computer, you can usually find me hiking in the great outdoors or exploring new cities.
  </div>
  <div class="mb-4">
    I'm a teacher who's dedicated to helping my students learn and grow. In my downtime, I like to unwind with a good book or catch up on my favorite TV shows.
  </div>
  <div class="mb-4">
    I'm a small business owner who's always striving to grow and improve my company. When I'm not working, I enjoy spending time with my family and volunteering in my local community.
  </div>
</div>

<div class="card p-4 m-4 bg-dark text-light col-md-4" style="width: 22em;">
  <%= link_to :back, class: "text-muted mb-2" do %>
  &larr;
  back to chat
  <% end %>
  
  <h2>My Profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mt-4">
      <%= f.label :my_avatar %><br />
      <%= image_tag(resource.avatar_thumbnail) if resource.avatar.attached? %>
    </div>
    <div class="field mt-4">
      <%= f.file_field :avatar, class: "btn btn-secondary w-100" %>
    </div>
    <div class="field mt-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </div>
    <div class="field mt-4">
      <%= f.label :first_name %><br />
      <%= f.text_field :username, required: true %>
    </div>
    <div class="field mt-4">
      <%= f.label :profile %><br />
      <%= f.text_area :profile, required: true, size: "32x9", value: resource.profile %>
    </div>
    <div class="field mt-4">
      <%= f.label "New Password (if you want to change it)" %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="field mt-4">
      <%= f.label :new_password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="field mt-4">
      <%= f.label :current_password_to_confirm_changes %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
    </div>
    <div class="actions mt-4">
      <%= f.submit "Update My Profile", class: "btn btn-success mt-2" %>
    </div>
  <% end %>

<!--
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
-->
</div>

