<div class="dynamic_bg row" style="height: max(55em, calc(100vh - 150px));">

<div class="card p-4 m-4 bg-light text-dark col-md-4" style="width: 21em;">
  <h4 class="mb-4">Sample Profiles to Use</h4>
  <div class="mb-4">
  I'm a big foodie and love exploring new restaurants and cuisines. I'm also an avid traveler and enjoy experiencing new cultures. In my free time, you can usually find me reading a good book or watching a movie.
  </div>
  <div class="mb-4">
    I'm a fitness enthusiast and love staying active. When I'm not working out, I enjoy spending time outdoors, hiking or playing basketball. I'm also a big music lover and enjoy going to concerts and festivals.
  </div>
  <div class="mb-4">
    I work in tech and love keeping up with the latest trends and innovations. I'm also a big foodie and enjoy trying out new restaurants and bars. In my free time, I like to stay active and play sports like tennis or soccer.
  </div>
  <div class="mb-4">
    I'm a beach lover and enjoy spending my weekends soaking up the sun and swimming in the ocean. I also enjoy yoga and meditation and prioritize self-care in my daily routine. I'm looking for someone who is kind, adventurous, and values personal growth.
  </div>
  <div class="mb-4">
    I'm a freelance writer and content creator, always on the lookout for new and exciting projects to work on. When I'm not typing away at my computer, you can usually find me hiking in the great outdoors or exploring new cities.
  </div>
  <div class="mb-4">
    I'm a teacher who's dedicated to helping my students learn and grow. In my downtime, I like to unwind with a good book or catch up on my favorite TV shows.
  </div>
  <div class="mb-4">
    I'm a small business owner who's always striving to grow and improve my company. When I'm not working, I enjoy spending time with my family and volunteering in my local community.
  </div>
</div>

<div class="card p-4 m-4 bg-dark text-light col-md-4" style="width: 21em;">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mt-4">
      <%= f.label "Email (just use a fake one - everything will be deleted next week)" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </div>
    <div class="field mt-4">
      <%= f.label :first_name %><br />
      <%= f.text_field :username, required: true %>
    </div>
    <div class="field mt-4">
      <%= f.label :profile %><br />
      <%= f.text_area :profile, required: true, size: "32x9", value: "I'm a bit of a introvert and love to relax at home with a good book or Netflix series. I'm also passionate about animal welfare and volunteer at a local animal shelter in my free time. I'm looking for someone who shares similar interests and values." %>
    </div>
    <div class="field mt-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
    </div>
    <div class="field mt-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
    </div>
    <div class="actions mt-4">
      <%= f.submit "Sign up", class: "btn btn-success mt-2" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

</div>
