<div class="p-5 text-center dynamic_bg" style="height: max(55em, calc(100vh - 126px));">
  <% if current_user.present? %>
    <%= audio_tag "dingding.mp3", id: 'dingding-tag' %>
    <script>
      document.getElementById("dingding-tag").play();
    </script>
    <h1>It's a match, <%= current_user.username %>!</h1>
    <div class="d-flex align-content-center">
      <div class="mx-auto">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_8fl3677q.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
      </div>
    </div>
  <% else %>
    <br/><br/>
    <h1>It Takes Three</h1>
    <div class="d-flex align-content-center">
      <div class="mx-auto">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_fnitdsu4.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      </div>
    </div>
  <% end %>

  <% if current_user.present? %>
    <h4 class="">
      <% if @online_users > 1 %>
        <%= @online_users %> of your matches are online now!
      <% elsif @online_users == 1 %>
        <%= @online_users %> of your matches is online now!
      <% else %>
        Send a message to your next date!
      <% end %>
      <br/><br/>
    </h4>

    <h6>
      BTW, to make the demo easier...
      <br/>
      Everybody is matched with everybody by default : )
      <br/><br/>
    </h6>

    <%= link_to "Chat with my matches", rooms_path, class:'btn btn-success btn-lg mx-1' %>
    <!--
    <%= link_to "View my profile", edit_user_registration_path, class:'btn btn-secondary btn-lg mx-1' %>
    -->
  <% else %>
    <h4 class="">
      🔥 Tinder x GPT 🤖
      <br/><br/>
      Invite a cute <b>chatbot</b> to play
      <br/><br/>
      Break ice & build connections right away!
      <br/><br/>
    </h4>

    <%= link_to "Log In", new_user_session_path, class:'btn btn-secondary btn-lg mx-1' %>
    <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-success btn-lg mx-1' %>
  <% end %>
</div>

<%= turbo_stream_from "public_messages" %>
<div class="" id="public_messages" style="overflow: hidden; height: calc(100vh-56px); padding: 0px;">
  <% @messages.each do |message| %>
    <%= render "messages/message_preview", message: message %>
  <% end %>
</div>

<footer class="bg-info text-center text-lg-start text-muted footer">
  <!-- Copyright -->
  <div class="text-center p-3 bg-dark">
    © 2023 It Takes Three
  </div>
  <!-- Copyright -->
</footer>