<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:70px;">
  <a class="navbar-brand ml-3 d-flex align-items-center" href="/">
    <%= image_tag("logo.png", class: "logo", height: 40) %>
    <h4 class="mt-2 ">&nbsp; It Takes Three</h4>
  </a>
  <!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
-->
      <li class="nav-item">
        <%= link_to "Admin", admin_dashboard_path, class: "nav-link" if current_user&.admin?%>
      </li>
    </ul>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>


<% if current_user.present? %>
  <%= link_to edit_user_registration_path, class:'btn btn-secondary btn-lg mx-1' do %>
    <i class="fa-regular fa-user"></i>
  <% end %>

<!--
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class:'btn btn-secondary' %>  
-->
<% else %>
  <%= link_to "Login", new_user_session_path, class:'btn btn-secondary' %>
<% end %>

</nav>
